/* main.css */

#player1 {
	background-color: #9bf; /*blue*/
	text-align: center;
}

#player2 {
	background-color: #f99; /*red*/
	text-align: center;
}

.container {
	border: 2px solid gray;
<<<<<<< HEAD
=======
}

.option {
	cursor: pointer;
}

#statusMessage {
	text-align: center;
>>>>>>> 3ded33762198027fe1631a3d77dabd3baae6485c
}