<!-- game.html -->

<div class="container">
	<!--Title-->
	<div class="row center">
		<h1 id="gameTitle">Rock, Paper, Scissors</h1>
	</div>

	<!--Display game-->
	<div class="row">
		<div id="player1" class="user col-md-6">
			<h2>You</h2>
			<table class="optionsContainer">
				<tr>
					<td class="option" ng-repeat="o in options">
						<img ng-click="calculateResult(o.key)" width="100px" height="100px" ng-src="{{o.value}}">
					</td>
				</tr>
			</table>
		</div>
		<div id="player2" class="user col-md-6">
			<h2>Opponent</h2>
			<img width="100px" height="100px" ng-src="{{compIcon}}">
		</div>
	</div>

	<!--Display status message-->
	<div class="row">
		<div id="statusMessage" class="alert alert-info" ng-bind="resultMessage"></div>
	</div>

	<!--Display scores-->
	<div class="row">
		<div class="center col-md-offset-3 col-md-3">
			User score: {{userScore}}
		</div>
		<div class="center col-md-3">
			Computer score: {{compScore}}
		</div>
	</div>

	<div class="row center">
		<button type="button" ng-click="reset()" class="btn btn-primary btn-sm">Reset</button>
	</div>

</div>